.tk3,
ol,
.op3 {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/*輪播動畫*/
@keyframes move {
  0%,
  20% {
    transform: translateX(0px);
  }
  25%,
  45% {
    transform: translateX(-900px);
  }
  50%,
  75% {
    transform: translateX(-1800px);
  }
  80%,
  100% {
    transform: translateX(-2700px);
  }
}

@-webkit-keyframes move {
  0%,
  20% {
    transform: translateX(0px);
  }
  25%,
  45% {
    transform: translateX(-900px);
  }
  50%,
  75% {
    transform: translateX(-1800px);
  }
  80%,
  100% {
    transform: translateX(-2700px);
  }
}

.pictures-wrap2 {
  width: 900px;
  height: 500px;
  margin: 0 auto;
  border: 5px solid gray;
  overflow: hidden;
  border-radius: 20px;
  margin: 40px auto;
}

.tk3 {
  width: 500%;
  display: flex;
  animation: move 10s infinite;
}

.img3 {
  width: 900px;
  height: 500px;
}